@import url('https://fonts.googleapis.com/css2?family=League+Gothic&display=swap');


* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

body {
  font-family: 'League Gothic', sans-serif;
  background-image: url(https://previews.123rf.com/images/schastnyi/schastnyi2005/schastnyi200500723/146500964-polvo-multicolor-abstracto-mezclado-sobre-fondo-blanco-congele-el-movimiento-del-polvo-de-color-conc.jpg);

}

header{
  width: 100%;
  margin: 0;
  display: flex;
  gap: 45px;
}

.barra-busqueda{
  display: flex;
  align-items: center;
}

.main{
  width: 80%;
  margin: 30px auto 0 auto;
}

.filtros{
  display: flex;
  gap: 25px;
}

.videos{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contvideos{
  width: 300px;
  font-family: "Poppins";
  font-weight: 200;
  color: rgba(255, 255, 255, 0.688);
  margin-top: 50px;
  cursor: pointer;
}

.imgPortada{
width: 300px;
height: 150px;
}

.textMinutos{
position: relative;
background-color: rgb(37, 24, 24);
font-size: 14px;
padding: 2px 5px;
}

.contInfo{
display: flex;
align-items: flex-start;
background-color: black;
}

button{
  padding: 0;
  border: none;
  color: inherit;
  background-color: lightblue;
  border-radius: 5px;
  cursor: pointer;
  padding: 5px;
  margin: 20px; 
}
button:focus {
  outline: 0;
}

button :hover{
  box-shadow: black;
}
button :active{
  transform: translateY(2px);;
}
.lista-videos{
  border-radius: 2px;
  display:grid;
 margin:0 7px 7px 500px; 
 border-color:blue;
    width: 500px; float:right; height:500px; 
    border-radius: 10px;
    min-height: 200px;
    font-weight: bold;
    padding: 20px;
    overflow: hidden;
    background-size: cover;
    background-position: center center;
}

.avatar{
width: 35px;
}
.contDescripcion{
display: flex;
flex-direction: column;
}

@media screen and (max-width: 950px) {
  .contvideo,
  .imgPortada {
    width: 250px;
  }
  .imgPortada {
    height: 120px;
  }
  .textMinutos {
    left: 200px;
  }
}
@media screen and (max-width: 700px) {
	
}

@media screen and (max-width: 600px) {

}